body {
  position: relative;
}

.preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e76f51;
  animation: disappear 5s linear forwards;
}

@keyframes disappear {
  0%,
  90% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
